body {
  background-image: url("images/airport.jpg");
}

#page1 {
-webkit-border-radius: 100px;
}

#page2 {
  display: none;
  -webkit-border-radius: 100px;
}
 
#header {
  line-height: 5;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.4;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

#middle {
  line-height: 2;
  margin: 0.5px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  font-weight: bold;
  font-size: 23px;
  font-family: monospace;
}

#middle p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

#text {
  line-height: 2;
  margin: 0.5px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  font-weight: bold;
  font-size: 23px;
  font-family: monospace;
}

#text p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

#availabletime {
  line-height: 2;
   margin: 1px;
  font-weight: bold;
  font-size: 17px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

#currentgatebutton {
  line-height: 3;
  background-color:  #fff;
  color: #242424;
  -webkit-border-radius: 100px;
  font-family: sans-serif;
}

#time {
  color: #fff;
  font-weight: bold;
  font-family: monospace;
}
 
